@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background-image:none;
	}
/*.................navigation_top....................*/
.home a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.Services a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg1.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.About a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.blog a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg1.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.Faq a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.Login a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg1.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.book_session a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
.contact a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
	
	
	
	
.header_bg{
	background:url(images/top_bg.jpg) no-repeat;
	height:85px;
	padding:0px 35px 0px 25px;
	}
.header_right_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	padding:0px 0 0px 0;
	}
.footer_bg{
	background:url(images/footer_bgall.jpg) no-repeat;
	padding:6px 0px 7px 0px;
	}
.footer_left_txt{
	font-family:"Arial Narrow";
	font-size:15px;
	font-weight:bold;
	color:#1f1a17;
	font-style:italic;
	}
.footer_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	}
.content_box{
	}
.bottom_bg{
	background:url(images/bottom_bg.jpg) right no-repeat;
	height:375px;
	}
.menu_div_space{
	height:3px; 
	overflow:hidden;
}		
.book_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1f1a17;
	line-height:14px;
	}
.laft_navi_space{
	height:2px;
	}
.hear_paul_speak{
	background:url(images/left_box_mid.jpg) repeat-y; 
	padding:0px 10px 0px 14px; 
	height:0px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#777577; 
	line-height:13px; 
	}
.hear_paul_head{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#85292a;
	line-height:22px;
	font-weight:bold;
	}
.left_navi a{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#FFFFFF;
	text-decoration:none;
	border:1px solid #b6d1c0;
	padding:3px 0px 3px 5px;
	background-color:#086129;
	margin-left: 10px;
	/*background:url(images/left_navi_bg_rpt.jpg) left center repeat-x;*/
}

.left_navi_title{
	color: #086129;
	font-weight: bold;
	padding-bottom: 2px;
}