@charset "utf-8";
/* CSS Document */


html{
	left:10px;
	top:10px;
}
body{
	background-color: #EEF0E6;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


a img {
border:0;
}

.page_wrapper{
	padding:0px;
	border:2px;
	margin:15px auto;
	text-align:center;
	width:960px;
	background-color:#FFF;
	position: relative;
}
.footer_wrapper{
	padding:0px;
	border:2px;
	margin:5px auto;
	text-align:center;
	width:875px;
}


h1, .Head1 {font-size: 20px; font-weight: bold; color: #000000; 
	font-family: Arial, Helvetica, sans-serif;
}

.pageheader {font-size: 20px; font-weight: bold; color: #000000; 
	font-family: Arial, Helvetica, sans-serif;
}

h3 { text-align: center; }

.Head1_White {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.Head1_Green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #006633;
	text-decoration: underline;
}

.form_comments {
	font-size: 9px;
}

.form_little_link {
	font-size: 9px;
	text-decoration: underline;
}


.Head1_Brown {
	font-family: Arial, Helvetica, sans-serif;

	font-size: 20px;
	font-weight: bold;
	color: #996633;
	text-decoration: underline;
}

.Head2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.Head2_Green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #006633;
}
.Head2_Green_Underline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #006633;
}


.Head2_White {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

.Head2_Brown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #996633;
}

.Head3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

/*.................navigation_top....................*/

a#logo-link {
	position:absolute; 
	display:block; 
	height:83px; 
	width:230px; 
	background:none; !important
}

.home a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
	
.tlink2 a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(../images/navi_bg2.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
	
.tlink1 a{
	width:105px;
	padding:6px 0px 6px 0px;
	display:block;
	text-decoration:none;
	background:url(../images/navi_bg1.jpg) no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#010100;
	text-align:center;
	}
	


.header_bg{
	position:relative;
	left:0;
	width:872px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	color: #0033FF;
	text-decoration: none;
	background:url(../images/top_bg.jpg) no-repeat;
	height:85px;
	padding:0px 0px 0px 0px;
	}
.header_right_txt{
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px 0 0px 0;
	}
.footer_bg{
	
	background: url(../images/footer_bgall.jpg)  no-repeat;
	background-size: 100% 100%;
	height:30px;
	vertical-align:middle;
	}
.footer_Not_Just{
	font-family: "Arial Narrow";
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	font-style: italic;
	padding-right: 50px;
	padding-top: 5px;
	vertical-align: middle;
	}
.footer_txt{
	width:875px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:right;
	color:#000000;
	}
	
.bottom_links{
	width:960px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}	
.content_box{
	width:850px;


    margin:10px;
	margin-top:20px;
	text-align:left;
}
.book_text{
	left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1f1a17;
	line-height:14px;
	}
.news_text{
	background:url(../images/left_box_mid.jpg) repeat-y; 
	padding:0px 10px 0px 14px; 
	height:0px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; 
	color:#777577; 
	line-height:13px; 
	}
.news_header{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#6E2E2E;
	line-height:18px;
	font-weight:bold;
	}
	


/* ============== New Tableless Left Navigation on Home Page ============ */

.twocol-left {
	top:auto;
	
	width:160px;
	float:left;
	
}

.twocol-main {
	float:right;
	text-align:center;
    width: 670px;
    margin-left:5px;
    padding-left:5px;
    border-left: 1px solid grey;
}


#register-button {
	background-color: #D50000;
	border: 1px solid #3D2210;
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
}

a#register-button:hover {
	background-color: #E96B6F;
}

#login-button {
	background-color: #0033CC;
	border: 1px solid #006600;
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	border-top-color: #FFFFFF;
}

a#login-button:hover {
	background-color: #0099CC;
}




#pay-button {
	background-color: #00BB5E;
	border: 1px solid #006600;
	color: #FFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	background-color: #009966;
	border-top-color: #FFFFFF;
}

a#pay-button:hover {
	background-color: #A9D5A8;
}

ul.left_nav {
	margin:0;
	padding:0;
}

.left_nav li {
    list-style: none outside none;
    margin: 0 0 1px;
	}

.left_nav li a {
    background-color: #A4703C;
	border:1px solid #4E2612;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: normal;
    padding: 3px 0;
    text-decoration: none;
    text-transform: capitalize;
	text-indent:3px;
	width:99%; /* IE Fix */
}

.left_nav li a:hover {
background: #63472B;
}
.nav-title {
    color: #482C11;
    font-size: 18px;
    margin: 9px 0 0;
    text-transform: uppercase;
	text-decoration:none;
}


#about {
	margin-bottom:20px;
	}


#home-page h1 {
	ext-align:center;
	margin:0;
}

/* ====== End of Tableless Left Navigation on home page ======= */





td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
th {
	font-size: 16px;
	font-weight: bold;
}
.bold_text {
	font-weight: bold;
}

.table_1{
	border: solid 1px #999;
	border-collapse: collapse; 
}
table {
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-collapse: collapse;
	border-color: #000;
}

.a_grey{
	color: #333;
	cursor:pointer;
}

.a_grey:hover{
	color: #666;
}

.a_white{
	color: #fff;
	cursor:pointer;
}

.a_white:hover{
	color: #008800;
}
.text_success{
	color:green;
	font-weight:bold;
}

.text_error{
	color:red;
	font-weight:bold;
}
.td_header{
	background: #996600;
	padding-left:5px;
	height: 40px;
	font-size: 20px; 
	font-weight: bold; 
	color: #ffffff; 
	font-family: Arial, Helvetica, sans-serif;
}
.log_div_error{padding:10px; background: #fee3e3; border: solid 1px #fa936e; color: #ff3131; font-size:12px; text-align:left; width:290px; margin-top:3px}
.log_txt_error{color: #ff0000;}
.log_txt_logged_out{color: #008800; font-weight:bold;}
.a_blue{color: #008800; font-weight:bold;}

.correct {
	font-size: 11px;
	font-family: "Courier New", Courier, mono;
	color:#009933;
}
.wrong {
	font-size: 11px;
	font-family: "Courier New", Courier, mono;
	color:#FF0000;
}
.blank {
	font-size: 11px;
	font-family: "Courier New", Courier, mono;
	color:#000000;
	
}

.styleNum {
	font-size: 11px;
	font-family: "Courier New", Courier, mono;
	color:#000000;
	font-weight:bold;
	
}

.align-center {
	display:block;
	margin:0 auto;
}
	
.center-text {
	text-align: center;
}

#book {

}

#bpn-rec, #read_testimonials  {
    border: 1px solid #663300;
    color: #996633;
    display: block;
    margin-bottom: 10px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
#bpn-rec:hover, #read_testimonials a:hover, a.testimonial:hover { color:#63472B; text-shadow:none ; }

#read_testimonials a, a.testimonial, #write_testimonial a {
    color: #996633;
    text-decoration: none;
}

#testimonial {
    border: 1px solid #663300;
    color: #996633;
    margin-bottom: 10px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}

#yelp {
    margin: auto;
}

#yelp img.stars {
	position:relative;
	top:-8px;
}

.clear {
	clear:both;
}

a.other, a.other:active, a.other:visited { color: #090; }
a.work_hours, a.work_hours:active, a.work_hours:visited { color: #900; }
.cal_bottom {border-top: 1px dashed #999; margin-top:5px; }
.cal_top, div.sched_container {border-bottom: 1px dashed #999; margin-bottom:5px;}
td.tutsched {vertical-align: top;}

ul.rate_tut { list-style:none; margin-bottom:1em; padding-left:8px; }
li.rate_tut { font-size:120%; font-weight:bold; color: #006633; list-style:none; }
ul.rate_type { list-style:disc; margin-bottom:1em; font-weight:normal; }
li.rate_type { font-size:80%; color: black; }

.testimonial { font-style:italic; }
.testimonial_wrapper { padding-bottom:20px; margin-bottom:20px; border-bottom:1px dotted #ccc; }
#write_testimonial { padding-bottom:20px; margin-bottom:20px; }
.testimonial-attrib { display:block; margin-left:8px; }

form dl dt { clear:both; width:33%; float:left; text-align:left; }
form dl dd { width:66%; float:left; margin:0 0 0.5em 0.25em; }

legend {
	font-size: 12px;
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}

#top_links {
	width:960px;
	padding:0;
	margin:0;	
	position: relative;
	z-index:1;
	
}

#top_links li {
	float:left;
	height: 25px;
	font-weight: bold;
	background-image:url(../images/navi_bg1.jpg);
	background-size: cover;
	background-position:center;

	list-style-type:none;
	vertical-align:middle;

}

	
	

.navi_space{
	height:23px;
	width:5px;
	padding:0;
	margin:0;
}

#top_links li a {
	width:115px;
	height:20px;
	display:block;
	text-align: center;
	vertical-align:middle;
	font-size: 12px;
	font-weight:bold;
	padding:0;
	margin:0;
	text-decoration: none;
	text-transform:uppercase;
	color: #FFFFFF;	
	position:relative;
	top:6px;
	

}

#top_links li ul {
	display:none;
	background-image: none;
	z-index: 0;
	color: #FFF;
	position: relative;
	margin: 0;
	background-color: #C1A168;
}

#top_links li ul li{
	background-image:none;
	background-color: #C1A168;
	
}
#top_links li ul a{
	background-image:none;
	background-color: #C1A168;
		position:relative;
	top:7px;

	
}

.top_links li a:hover {
	color: #633D32;
	z-index:1;
	position:relative;

}

.top_links li a:active {
	position:relative;

	background: url(../images/navi_bg2.jpg) no-repeat;

}

#top_links li:hover ul, #top_links li.hover ul {
   display: block;
   margin: 0;
   padding: 0; 
	position:relative;
	left:25px; 

   z-index:1;
   }
   
#top_links li:hover li, #top_links li.hover li {
   float: none; }
   
#top_links li:hover li a, #toplinks li.hover li a {
	background-color:#C1A168;
   border-bottom: 1px solid #fff;
   color:#FFF; 
   	background-image:none;
	z-index:0;
	margin:0;

  
   }
#top_links li li a:hover {
	background-color: #63472B;
	z-index: 0;
}


.top_banner {
	width: 960px;
}


.header_right_txt a#header_login_button {
	text-decoration: none;
	padding: 5px;
	background: url("images/greenopacity.png") repeat;
	color: #000;
	border-radius: 10px;
}

.footer_box {
	clear:both;
	width: 100%;
	padding-top:10px;
}

.text10p {
	font-size: 10px;
}
.text9pt {
	font-size: 9px;
}
