/* styles by Ellen James patternext@gmail.com */

body{  background:#87BC2D; margin: 0 auto; font:normal 12px/20px Arial; }

#container { width:871px; background:url(../img/middle-bg.jpg); border:solid 0px #fff; margin:0 auto; text-align:center; }

#tblContainer { padding:5px 0px 0px 0px; border:solid 0px #fff;}

#logo { width:146px; height:48px;  background:url(../img/logo.jpg) no-repeat; float:left; margin-top:15px; border:solid 0px #fff;}
#bannerText { position:absolute; top:68px; /*   left:350px; */ margin-left:200px;   background:url(../img/bannerTex02t.jpg) no-repeat;width:331px; height:79px; border:solid 0px #fff; }
#bookPic { width:90px; height:128px; background:url(../img/book.jpg) no-repeat; margin:19px 0px 0px 0px; border:solid 0px #fff; float:right; }





.navText a{ font: normal 13px/13px Arial; color:#FFFFFF; text-decoration:none;}
.navText a:hover { font: normal 13px/13px Arial; color:#87BC2D; text-decoration:none;}

.footertext { margin:15px 5px 0px 5px; border:solid 0px #fff; width:auto; text-align:center;}
.footertext a{ font: bold 14px/14px Arial; color:#FFFFFF; text-decoration:none; }
.footertext a:hover { font: bold 14px/14px Arial; color:#87BC2D; text-decoration:none;}


#navLinks{width:auto;}
#navLinks li { border:0px; padding:0px 6px 0px 6px; float:left; display:block; line-height:36px; }
#navLinks li a{ font:normal 11px/12px Verdana; color:#FFFFFF; text-decoration:none;  }
#navLinks li a:hover{ color:#FFFFFF; text-decoration:underline; background:url(../img/tabhover.gif);  }



